$h1: 52px;
$h2: 36px;
$h3: 23px;
$span: 16px;
$span-01: 14px;
$span-02: 12px;
$p: 18px;
// Mobile
$h1-mobile: 48px;
$h2-mobile: 31px;
$h3-mobile: 18px;
$span-mobile: 11px;
$span-01-mobile: 10px;
$span-02-mobile: 10px;
$p-mobile: 13px;