// Import Fonts 
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700&display=swap');
// Fonts
$Poppins: 'Poppins';
$Montserrat: 'Montserrat';
$color-01: #fff;
$color-02: #000000;
$color-03: #7159bd;
$color-04: #48887b;
$color-05: #dbdbdb;
$color-06: #262626;
$color-07: #555555;