.container-card-projects{
    @include grid(300px, 300px);
    grid-gap: 20px;
    .card-projects{
        height: auto;
        padding: 20px;
        border: 1px solid #e2e2e2;
        background-color: #ffffff;
        position: relative;
        .delete-card-project{
            position: absolute;
            top: 5px;
            right: 10px;
            z-index: 30;
            i{
                color: #000;
                font-size: 40px;
                cursor: pointer;
            }
        }
    }
}

.title-create{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    h2{
        margin: 0px;
    }
    .btn{
        background-color: transparent;
    }
}