.container-modal-project{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    pointer-events: none;
    transition: all .5s;
    .card-modal-project{
        width: 50%;
        height: 40%;
        background-color: #fff;
        position: absolute;
        top: -5000px;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s;
        h1{
            text-align: center;
        }
        form{
            margin-left: auto;
            margin-right: auto;
        }
    }

    &.taks{
        .card-modal-project{
            height: 48%;     
        }
    }

    &.active{
        z-index: 99;
        pointer-events: all;
        background-color: rgba(0,0,0, 0.5);
        transition: all .5s;
        .card-modal-project{
            top: 50%;
            transition: all .5s;
        }
    }
}