.react-select__control{
    height: 45px;
    .react-select__value-container{
        height: 100%;
        padding-left: 20px;
        .react-select__placeholder{
            left: 20px;
            top: 23px;
        }

        .react-select__single-value{
            top: 25px;
            left: 20px;
            color: #676767;
            .react-select__input{
                padding-left: 20px;
            }
        }
    }
}